body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #fafafa;
}

form {
  width: 100%;
}

img {
  max-width: 100%;
}
